{% extends 'layout.html' %} {% block body %}
<h1>Average value of a deal per year</h1>

<!-- <section class="avg_year_section">
  <h3>Raw data example</h3>
  {{deals[3]}} <br />
  <h3>Formatted data</h3>
  {% for deal in deals %}
  <div class="avg_per_year_div">
    <p>
      Year: {{ deal.year }} <br />
      Average deal value: {{deal.avg_value}} <br />
      Total number of deals: {{deal.total_deals}}
    </p>
  </div>
  {% endfor %}
</section>
<br /> -->
<canvas id="myAvgDealValueChart" width="400" height="200"></canvas>
<script>
  var ctx = document.getElementById("myAvgDealValueChart");
  var myAvgDealValueChart = new Chart(ctx, {
    type: "bar",
    data: {
      labels: {{labels}},
      datasets: [
        {
          label: "Average deal value",
          minBarLength: 5,
          data: {{data}},
          backgroundColor: {{backgroundColor|safe}},
          borderColor: {{borderColor|safe}},
          borderWidth: 1.5,
        },
      ],
    },
    options: {
      scales: {
        yAxes: [
          {
            ticks: {
              beginAtZero: true,
            },
          },
        ],
      },
      legend: { display: false },
      title: {
        display: true,
        text: 'Average deal value per year'
      },
    },
  });
</script>
<canvas id="myTotalDealsChart" width="400" height="200"></canvas>
<script>
  var ctx = document.getElementById("myTotalDealsChart");
  var myTotalDealsChart = new Chart(ctx, {
    type: "bar",
    data: {
      labels: {{labels}},
      datasets: [
        {
          label: "Total deals",
          minBarLength: 5,
          data: {{totalDeals}},
          backgroundColor: {{backgroundColor|safe}},
          borderColor: {{borderColor|safe}},
          borderWidth: 1.5,
        },
      ],
    },
    options: {
      scales: {
        yAxes: [
          {
            ticks: {
              beginAtZero: true,
            },
          },
        ],
      },
      legend: { display: false },
      title: {
        display: true,
        text: 'Total deals per year'
      },
    },
  });
</script>
{% endblock %}
