{% extends 'layout.html' %} {% block body %}
<h1>Average value of a deal per year</h1>
<canvas id="myAvgDealValueChart" width="400" height="200"></canvas>
<script>
  var ctx = document.getElementById("myAvgDealValueChart");
  var myAvgDealValueChart = new Chart(ctx, {
    type: '{{avg_chart.chart_type}}',
    data: {
      labels: {{avg_chart.labels}},
      datasets: [
        {
          label: "Average deal value",
          minBarLength: 5,
          data: {{avg_chart.data}},
          backgroundColor: {{avg_chart.background_color|safe}},
          borderColor: {{avg_chart.border_color|safe}},
          borderWidth: 1.5,
        },
      ],
    },
    options: {
      scales: {
        yAxes: [
          {
            ticks: {
              beginAtZero: true,
            },
          },
        ],
      },
      legend: { display: false },
      title: {
        display: true,
        text: 'Average deal value per year in SEK'
      },
    },
  });
</script>
<canvas id="myTotalDealsChart" width="400" height="200"></canvas>
<script>
  var ctx = document.getElementById("myTotalDealsChart");
  var myTotalDealsChart = new Chart(ctx, {
    type: '{{total_chart.chart_type}}',
    data: {
      labels: {{total_chart.labels}},
      datasets: [
        {
          label: "Total deals",
          minBarLength: 5,
          data: {{total_chart.data}},
          backgroundColor: {{total_chart.background_color|safe}},
          borderColor: {{total_chart.border_color|safe}},
          borderWidth: 1.5,
        },
      ],
    },
    options: {
      scales: {
        yAxes: [
          {
            ticks: {
              beginAtZero: true,
            },
          },
        ],
      },
      legend: { display: false },
      title: {
        display: true,
        text: 'Total deals per year'
      },
    },
  });
</script>
{% endblock %}
