{% extends 'layout.html' %} {% block body %}
<h1>Status of existing and potential customers</h1>
<div class="customer-section">
  {% for customer in customers %}
  <a href="/customer/{{customer.id}}">
  <div class="customer-card {{customer.customer_status}}">
    <p>
      <span class="customer-name"> <strong> Customer: </strong>{{customer.customer_name}}</span><br />
      <span class="customer-status"> <strong> Status: </strong>{{customer.customer_status}} </span> <br />
      <span class="total-customer-value"
        > <strong>Total order value: </strong> {{customer.total_value}}
      </span>
      <br />
      <span class="latest-deal"
        > <strong> Latest deal closed: </strong> {{customer.latest_deal}}</span
      >
    </p>
  </div>
  {% endfor %}
</div>
<br />
{% endblock %}
