{% extends 'layout.html' %} {% block body %}
<h2 class="title"><strong>Namn: {{customer.name}}</strong></h2>
<p>
    <h3>Kontaktuppgifter</h3>
    <strong>WWW: </strong>{{customer.www}} <br>
    <strong>Telefon: </strong>{{customer.phone}}<br>
    <strong>Adress: </strong>{{customer.address}}<br>
    <strong>Postnummer: </strong>{{customer.zip_code}}<br>
    <strong>Stad: </strong>{{customer.city}}<br>
    <strong>Land: </strong>{{customer.country}}
</p>
<p>
<h3>Finansiell data</h3>
<p>
<strong>Totalt ordervärde: </strong>{{total_value}}<br>
<strong>Antal ordrar: </strong>{{total_orders}}<br>
</p>
{% for deal in deals %}
<p>
<strong>Deal id: </strong>{{deal.id}} <br>
<strong>Description: </strong>{{deal.description}} <br>
<strong>Deal value: </strong>{{deal.value}} SEK<br>
<strong>Deal closed: </strong>{{deal.closing_date}} <br>
<strong>With status: </strong>{{deal.status}} <br>
</p>
{% endfor %}
</p>
{% endblock %}
